.header{  width: 100%;  text-align: center;  border: 1px solid #ccc;  }
.section{  width: 100%;  border:1px solid #ccc;  border-top:none;  padding: 10px;  }
.breadcrumb-inner{  position: absolute;  top: 26px;  left: 10px;}
.el-pagination{  padding: 5px 0;  }
.block{  float: right;  }
.el-table{  margin-top: 10px;  }
.required:after{  content: '*';  position: absolute;  color: #ff4949;  margin-left: 10px;  right: -20px;  top: 0;}
